<div class="contenedor">
    <div #id_card class="card">
        <h2>Chips</h2>
        <div class="card-body">
            <h3>radio</h3>
            <lib-chips [type]="'radio'" [(ngModel)]="listChipsRadio">
            </lib-chips>

            <h3>checkbox</h3>
            <lib-chips [type]="'checkbox'" [(ngModel)]="listChipsCheckbox">
            </lib-chips>

            <h3>selecionado</h3>
            <lib-chips [(ngModel)]="listChipsSelected">
            </lib-chips>
        </div>
    </div>
</div>
