
<!-- Toolbar -->
<lib-header title="librería Angular y subirla a NPM">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
    <li>
      <span>Components</span>
        <ul>
          <li><a routerLink="/card" routerLinkActive="active-link">Card</a></li>
          <li><a routerLink="/button" routerLinkActive="active-link">Button</a></li>
          <!-- <li><a (click)="onTop()">Chips</a></li> -->
          <li><a (click)="scrollToElement(id_card)">Chips</a></li>
        </ul>
    </li>
  </ul>
</lib-header>

<router-outlet></router-outlet>
