<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Libreria My Zumo!
  </h1>
  <z-button [text]="'Button'"></z-button>
 
  <!-- BOX DEMO -->
  <div class="container__box-border">
    <div class="container__box-border__demo">
      <z-accordion [isOpen]="true" [title]="'¿Cómo sé dónde están mis tarjetas?'">
        <p class="z-body-text padding-bottom-24">Cuando aprobemos la solicitud de tu tarjeta de crédito,
          vas a recibir un email con una
          clave para ingresar a <a class="z-body-text container__box-border__link"
            href="https://naranjaonline.naranja.com/" target="_blank">Naranja Online</a> o App
          Naranja y
          desde ahí podés hacer el seguimiento del envío de tu plástico.
        </p>
      </z-accordion>
    </div>
  </div>
    
</div>

<router-outlet></router-outlet>
